<!--  Chapter 8 delete this origin page-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--	<head>-->
<!--		<title>Rango</title>-->
<!--	</head>-->
<!--	<body>-->
<!--		<a href="/rango/">Index</a>-->
<!--		<div>-->
<!--		{% if category %}-->
<!--			<h1>{{ category.name }}</h1>-->

<!--			{% if pages %}-->
<!--			<ul>-->
<!--				{% for page in pages %}-->
<!--				<li><a href="{{ page.url }}">{{ page.title }}</a></li>-->
<!--				{% endfor %}-->
<!--			</ul>-->
<!--			{% else %}-->
<!--			<strong>No pages currently in category.</strong>-->
<!--			{% endif %}-->

<!--			&lt;!&ndash; add_page &ndash;&gt;-->
<!--				<a href="/rango/category/{{ category.slug }}/add_page/">Add Page</a> <br/>-->

<!--		{% else %}-->
<!--			The specified category does not exist.-->
<!--		{% endif %}-->
<!--		</div>-->
<!--	</body>-->
<!--</html>-->

<!--  Chapter 8 add new page here-->
<!--{% extends 'rango/base.html' %}-->
<!--{% load staticfiles %}-->

<!--{% block title_block %}-->
<!--	{% if category %}-->
<!--		{{ category.name }}-->
<!--	{% else %}-->
<!--		Unknown Category-->
<!--	{% endif %}-->
<!--{% endblock %}-->

<!--{% block body_block %}-->
<!--	{% if category %}-->
<!--	<h1>{{ category.name }}</h1>-->
<!--	{% if pages %}-->
<!--	<ul>-->
<!--		{% for page in pages %}-->
<!--		<li><a href="{{ page.url }}">{{ page.title }}</a></li>-->
<!--		{% endfor %}-->
<!--	</ul>-->
<!--	{% else %}-->
<!--	<strong>No pages currently in category.</strong>-->
<!--	{% endif %}-->

<!--	<a href="{% url 'rango:add_page' category.slug %}">Add Page</a><br />-->
<!--	{% else %} The specified category does not exist.-->
<!--	{% endif %}-->
<!--{% endblock %}-->


<!-- the above also is the tutorial-->
<!-- the below is the new content-->
<!--<ul>-->
<!--{% if categories %}-->
<!--	{% for c in categories %}-->
<!--		{% if c == current_category %}-->
<!--		<li><strong><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}/a></strong></li>-->
<!--		{% else %}-->
<!--		<li><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}/a></li>-->
<!--		{% endif %}-->
<!--	{% endfor %}-->
<!--{% else %}-->
<!--	<li><strong>There are no categories present.</strong></li>-->
<!--{% endif %}-->
<!--</ul>-->



<!-- extend the base.html-->
{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}

	{% if category %}
		{{ category.name }}
	{% else %}
		Unknown Category
	{% endif %}

{% endblock %}


{% block body_block %}

	{% if category %}
	<h1>{{ category.name }}</h1>

	{% if pages %}
	<ul>
		{% for page in pages %}
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>

	{% else %}
	<strong>No pages currently in category.</strong>
	{% endif %}


	{% if user.is_authenticated %}
	<a href="{% url 'rango:add_page' category.slug %}">Add Page</a><br />
	{% endif %}


	{% else %} The specified category does not exist.
	{% endif %}


{% endblock %}