<!-- the writer of the book said.. we will leave you to figure out the name of the file..-->
<!-- it look like play the game with kid ahahaha-->

{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

    {% block body_block %}
        <h1>Login to Rango</h1>
            <form id="login_form" method="post" action="{% url 'rango:login' %}">

        {% csrf_token %}

        Username: <input type="text" name="username" value="" size="50">
        <br>

        Password: <input type="password" name="password" value="" size="50">
        <br>
        <input type="submit" value="submit" />

    </form>

{% endblock %}